body {
  font-family: sans-serif;
  background: #f4f4f4;
  padding: 0;
  margin: 0;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn {
  padding: 0.5rem 1rem;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
}
